body{
    background-image: url('../img/gettyimages-1250125249-612x612.jpg');
      background-repeat: no-repeat; 
      background-size: cover;
      backdrop-filter: blur(50%);
     
    
    /* background-size:cover ;   */
}

.indexTable{
	background-color: #E6E6FA; 
	margin-left:auto;
    margin-right: auto;
	width: 60%; 

}

.buttonContinuer, .titreIndex{
	text-align: center;
}

.container{
    background-color: aqua;
}

.allCat, td {
    border: 1px solid #333;
}
p{
    text-align: center;
}